a.input:hover {
  cursor: pointer;
}

a.input[disabled] {
  cursor: not-allowed;
}


a.btn:hover {
  cursor: pointer;
}

a.btn[disabled] {
  cursor: not-allowed;
}

.background-off {
  background-color: none;
}

.background-on {
  background-color: lightgoldenrodyellow;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.navbar-inverse .navbar-nav>li>a.active {
  color: #fff;
  background-color: #1abc9c;
}